.create-post{
    width:90%;
    margin:auto;
    background:white;
    border-radius:25px;
    padding:20px;
    margin-top:20px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.create-input{
    width:100%;
    padding:15px;
    border:none;
    background:#f5f7fa;
    border-radius:15px;
}


.post-btn{
    background: linear-gradient(135deg,#3b82f6,#8b5cf6);
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:15px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.post-btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px rgba(99,102,241,.5);
}